* * * * * cd /var/www/vnn && php artisan schedule:run >> /dev/null 2>&1
0 2 * * * cd /var/www/vnn && php artisan sitemap:generate >> /dev/null 2>&1
0 3 * * 0 cd /var/www/vnn && php artisan backup:clean && php artisan backup:run >> /dev/null 2>&1
